@CHARSET "UTF-8";

		br {
   		 	display: hidden;
		}

.btn {
  display:block;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #E60000; 
  margin-right: 20px;
}

.btn-text {
	color: #FFFFFF;
	text-align: center
}

#admin-btns {
	display: flex;
}